@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@font-face {
  font-family: 'Nilad';
  src: url(../assets/fonts/NiladRegular.ttf);
  font-style: normal;
}

::-moz-selection {
  background: #fad20c;
}

::selection {
  background: #fad20c;
}

::-moz-selection {
  background: #fad20c;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
}

body {
  background-color: #000;
  color: #fff;
}

.wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1080px;
  margin: auto;
}

.grid-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 5px;
  margin: 100px auto;
}

.grid-content .grid-content > * {
  padding: 30px;
}

/* NAV START */
.navbar {
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  height: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px;
  z-index: 10001;
}

.navbar .logo abbr {
  font-size: 24px;
  font-family: Nilad;
  color: #fff;
}

.navbar .logo:hover {
  cursor: pointer;
}

.navbar ul li {
  text-decoration: none;
  display: inline-block;
  margin-left: 30px;
  font-size: 18px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
}

.navbar ul li a:hover {
  color: #CFCFCF;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.navbar .ul-links {
  display: none;
  padding: 20px;
}

#burger {
  display: none;
  background: transparent;
  border: none;
  z-index: 100002;
}

#burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
  cursor: pointer;
}

#burger:focus {
  outline: none;
}

#burger[aria-pressed="true"] div:nth-child(1) {
  -webkit-transform: rotate(-405deg) translate(-5px, 6px);
          transform: rotate(-405deg) translate(-5px, 6px);
}

#burger[aria-pressed="true"] div:nth-child(2) {
  opacity: 0;
}

#burger[aria-pressed="true"] div:nth-child(3) {
  -webkit-transform: rotate(405deg) translate(-5px, -6px);
          transform: rotate(405deg) translate(-5px, -6px);
}

@media (max-width: 1080px) {
  .wrapper {
    padding: 0 100px !important;
  }
  .navbar {
    padding: 0 50px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 0 25px !important;
  }
  .navbar {
    padding: 0 25px;
    background-color: #000;
  }
  .navbar ul[aria-hidden="true"] {
    width: 100%;
    margin: 0;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    font-size: 24px;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  }
  .navbar ul[aria-hidden="false"] {
    width: 100%;
    margin: 0;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    font-size: 24px;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  }
  .navbar ul li {
    padding: 20px;
    margin: 0;
  }
  .navbar ul .ul-links {
    display: block;
  }
  #burger {
    display: block;
  }
}

.body__overflow {
  overflow: hidden;
}

/* NAV END */
/* START HOME */
header {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.5;
}

header h1 span {
  display: block;
}

header h1 span:nth-child(1) {
  margin-top: 50px;
  font-weight: 300;
  font-size: 16px;
}

header h1 span:nth-child(2) {
  font-weight: 600;
  font-size: 80px;
}

header p:nth-child(2) {
  font-weight: 600;
  font-size: 90px;
  color: #CFCFCF;
}

header p:nth-child(3) {
  margin: 30px 0 50px 0;
  width: 48%;
  font-size: 18px;
  color: #CFCFCF;
  line-height: 1.6;
}

header .view-btn {
  margin-bottom: 50px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  border: 1px solid #fff;
  border-radius: 5px;
}

header .view-btn a {
  display: inline-block;
  padding: 20px 28px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  background-color: transparent;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  font-family: 'Karla', sans-serif;
  width: 100%;
  height: 100%;
}

header .view-btn a:hover {
  color: #000;
  background-color: rgba(245, 245, 245, 0.9);
  cursor: pointer;
}

@media (max-width: 1080px) {
  header p:nth-child(2) {
    font-size: 48px;
  }
  header p:nth-child(3) {
    width: 80%;
  }
  header h1 span:nth-child(2) {
    font-size: 48px;
  }
}

@media (max-width: 450px) {
  header h1 span:nth-child(1) {
    margin-top: 100px;
    font-weight: 300;
    font-size: 14px;
  }
  header h1 span:nth-child(2) {
    font-size: 36px;
  }
  header p:nth-child(2) {
    font-size: 36px;
  }
  header p:nth-child(3) {
    width: 100%;
    font-size: 16px;
  }
}

/* END HOME */
/* PROJECT START */
#works h2 {
  padding-top: 10vh;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: -50px;
}

#works .projects {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/ span 8;
  -ms-grid-row: 1;
  grid-row: 1;
}

#works .projects img {
  max-height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  -webkit-transition: object-position 0.5s ease-in;
  transition: object-position 0.5s ease-in;
  transition: object-position 0.5s ease-in, -o-object-position 0.5s ease-in;
  z-index: 300;
  -webkit-box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.15);
}

#works .projects img:hover {
  -o-object-position: bottom;
     object-position: bottom;
  -webkit-transition: object-position 2s ease-in, -webkit-transform 0.5s ease-in;
  transition: object-position 2s ease-in, -webkit-transform 0.5s ease-in;
  transition: object-position 2s ease-in, transform 0.5s ease-in;
  transition: object-position 2s ease-in, transform 0.5s ease-in, -o-object-position 2s ease-in, -webkit-transform 0.5s ease-in;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

#works .projects.left {
  -ms-grid-column: 6;
  -ms-grid-column-span: 7;
  grid-column: 6 / 13;
  -ms-grid-row: 1;
  grid-row: 1;
}

#works .project-details {
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7 / 13;
  padding: 0 0 0 40px;
  -ms-grid-row: 1;
  grid-row: 1;
  z-index: 301;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#works .project-details.left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/ 7;
  padding: 0 40px 0 0;
}

#works .project-details a {
  text-decoration: none;
}

#works .project-details a h3 {
  color: #fff;
  margin-bottom: 10px;
  text-align: end;
  font-weight: 500;
  font-size: 24px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#works .project-details a h3:hover {
  color: #CFCFCF;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#works .project-details p {
  background-color: #303030;
  padding: 15px;
  width: 100%;
  text-align: end;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
}

#works .project-details.left h3, #works .project-details.left p, #works .project-details.left {
  text-align: start;
}

#works .programming-languages {
  color: #CFCFCF;
  text-align: end;
  margin-bottom: 10px;
}

#works .programming-languages li {
  display: inline-block;
  margin: 0  0 0 15px;
  font-weight: 300;
  font-family: 'Karla', sans-serif;
}

#works .programming-languages.left {
  text-align: start;
}

#works .programming-languages.left li {
  margin: 0 15px 0 0;
}

#works .links {
  float: right;
}

#works .links a {
  margin: 0  0 0 15px;
  text-decoration: none;
}

#works .links.left {
  float: left;
}

#works .links.left a {
  margin: 0 15px 0 0;
}

.github-svg:hover path {
  fill: #CFCFCF;
}

.viewLink-svg:hover path {
  stroke: #CFCFCF;
}

@media (max-width: 768px) {
  .grid-content {
    margin: 30px auto;
  }
  #works h2 {
    margin-bottom: 50px;
  }
  #works .projects.right, #works .projects.left {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/ 13;
    opacity: 0.2;
  }
  #works .projects.right img:hover, #works .projects.left img:hover {
    -o-object-position: top;
       object-position: top;
    -webkit-transform: none;
            transform: none;
    -webkit-transition: none;
    transition: none;
  }
  #works .project-details.right, #works .project-details.left {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/ 12;
  }
}

@media (max-width: 450px) {
  .projects img {
    min-height: 500px;
  }
  .project-details {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/ 12;
    padding: 0;
  }
  .project-details.left {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/ 12;
    padding: 0;
  }
  .project-details h3, .project-details .programming-languages,
  .project-details.left h3, .project-details .programming-languages.left {
    background: none;
    padding: 0;
  }
  .project-details p, .project-details.left p {
    margin: 30px 0px;
    padding: 15px 0 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    background-color: transparent !important;
  }
  .programming-languages li {
    margin: 0  0 0 5px;
  }
  .programming-languages.left li {
    margin: 0 5px 0 0;
  }
}

/* PROJECT END */
/* ABOUT START */
#about {
  width: 100%;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.about-content {
  width: 55%;
  padding: 10vh 0;
}

.about-content h2 {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 25px;
}

.about-content p {
  font-weight: 300;
  font-size: 18px;
  width: 100%;
}

.about-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 10px;
  list-style: none;
}

.about-content ul li {
  font-weight: 300;
  color: #fff;
  font-family: 'Karla', sans-serif;
  margin: 5px;
}

.about-content ul li::before {
  content: "\0203A";
  color: #CFCFCF;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

@media (max-width: 768px) {
  .about-content {
    width: 100%;
  }
  .about-content ul {
    height: 180px;
  }
}

@media (max-width: 450px) {
  #about {
    display: -ms-grid;
    display: grid;
    place-items: normal start;
    min-height: 100%;
  }
  .about-content {
    padding-bottom: 5vh;
  }
  .about-content p {
    font-size: 16px;
  }
}

/* ABOUT END */
/* CONTACT START */
#contact {
  width: 100%;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.contact-content {
  width: 55%;
  padding: 10vh 0;
  text-align: center;
}

.contact-content h2 {
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 25px;
}

.contact-content p {
  font-size: 18px;
  color: #CFCFCF;
}

.contact-content a {
  display: inline-block;
  text-decoration: none;
  margin: 60px 0 60px 0;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  font-size: 18px;
  font-weight: 500;
  padding: 20px 28px;
  border-radius: 5px;
  font-family: 'Karla', sans-serif;
}

.contact-content a:hover {
  color: #000;
  background-color: rgba(245, 245, 245, 0.9);
  cursor: pointer;
}

@media (max-width: 768px) {
  .contact-content {
    width: 100%;
  }
}

@media (max-width: 450px) {
  #contact {
    display: -ms-grid;
    display: grid;
    place-items: normal start;
    min-height: 100%;
  }
  .contact-content {
    padding-bottom: 5vh;
  }
  .contact-content h2 {
    font-size: 32px;
  }
}

/* CONTACT END */
/* START FOOTER */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: auto;
  color: #CFCFCF;
  font-size: 14px;
}

@media screen and (max-width: 1350px) {
  .vertical-line {
    opacity: 0;
  }
  .left-links, .links-style {
    padding: 10px 0;
  }
  .left-links a, .links-style a {
    margin: 0 8px;
    text-decoration: none;
  }
  .right-links {
    padding: 0 0 20px 0;
  }
  .right-links a {
    color: #CFCFCF;
    text-decoration: none;
  }
}

@media screen and (min-width: 1350px) {
  .vertical-line {
    margin-top: 15px;
    border: 1px solid #CFCFCF;
    width: 1px;
    height: 75px;
    opacity: 1;
  }
  .left-links, .links-style {
    bottom: 0%;
    left: 0%;
    padding-left: 50px;
    position: fixed;
    padding-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .left-links a, .links-style a {
    margin-top: 15px;
  }
  .left-links a.stroke, .links-style a.stroke {
    stroke: #CFCFCF;
  }
  .left-links a.stroke:hover path, .links-style a.stroke:hover path {
    stroke: #fff;
    -webkit-transition: stroke 0.3s ease;
    transition: stroke 0.3s ease;
  }
  .left-links a.fill, .links-style a.fill {
    fill: #CFCFCF;
  }
  .left-links a.fill:hover path, .links-style a.fill:hover path {
    fill: #fff;
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
  }
  .right-links {
    bottom: 0%;
    right: 0;
    padding-right: 50px;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .right-links a {
    color: #CFCFCF;
    text-decoration: none;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
  }
  .right-links a:hover {
    color: #fff;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }
}

/* END FOOTER */
/*# sourceMappingURL=style.css.map */