@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'Nilad';
    src: url(../assets/fonts/NiladRegular.ttf);
    font-style: normal;
}


$background: #000;
$text: #fff;
$background-1: #303030;
$text-1: #CFCFCF;

::selection {
    background: #fad20c;
}
  ::-moz-selection {
    background: #fad20c;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
}


body {
    background-color:$background;
    color:$text;
}

.wrapper {
    justify-content: center;
    max-width: 1080px;
    margin: auto;
}


.grid-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 5px;
    margin: 100px auto;

    .grid-content > * {
        padding: 30px;
        }

    }



/* NAV START */
.navbar {
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    z-index: 10001;

    .logo {
        abbr {
            font-size: 24px;  
            font-family: Nilad;
            color:$text;
        }

        &:hover{
            cursor: pointer;
        }

    }



    ul {
        
        li{
            text-decoration: none;
            display: inline-block;
            margin-left: 30px;
            font-size: 18px;

                a {
                    text-decoration: none;
                    color:$text;
                    &:hover {
                        color:$text-1;
                        transition: color 0.3s ease;
                    }
                }
            }
        }

        .ul-links{
            display: none;
            padding: 20px;
        }
    }

#burger {
    display: none;
    background: transparent;
    border: none;
    z-index: 100002;
    
    div{
        width: 25px;
        height: 3px;
        background-color: $text;
        margin: 5px;
        transition: all 0.3s ease;
        display: block;
        cursor: pointer;
      }

      &:focus {
        outline: none;
    }

    &[aria-pressed="true"] {
        div:nth-child(1) {
            transform: rotate(-405deg) translate(-5px,6px);
          }
          
          div:nth-child(2) {
            opacity: 0;
          }
          
          div:nth-child(3) {
            transform: rotate(405deg) translate(-5px,-6px);
          }
      }

  }


@media (max-width: 1080px) {
    .wrapper {
        padding: 0 100px!important;
    }
    .navbar {
        padding: 0 50px;
    }
}

@media (max-width: 768px){ 
    .wrapper {
        padding: 0 25px!important;
    }
    .navbar {
        padding: 0 25px;
        background-color: $background;
        
        ul {

            &[aria-hidden="true"]{
                width: 100%;
                margin: 0;
                position: fixed;
                right: 0;
                top: 0;
                height: 100vh;
                background-color: $background;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                transform: translateX(100%);
                font-size: 24px;
                transition: transform 0.5s ease-in-out;
            }

            &[aria-hidden="false"]{
                width: 100%;
                margin: 0;
                position: fixed;
                right: 0;
                top: 0;
                height: 100vh;
                background-color: $background;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                transform: translateX(0%);
                font-size: 24px;
                transition: transform 0.5s ease-in-out;  
            }

            
            li {
                padding: 20px;
                margin: 0;
            }
            .ul-links {
                display: block;
            }
        }
    }

    #burger {
        display: block;
    }
}

.body__overflow {
    overflow: hidden;
}


/* NAV END */


/* START HOME */


header{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
    
        h1{
            span {
                display: block;
                &:nth-child(1){
                    margin-top: 50px;
                    font-weight: 300;
                    font-size: 16px;
                }

                &:nth-child(2){
                    font-weight: 600;
                    font-size: 80px;
                }
            }
        }

        p{

            &:nth-child(2){
                font-weight: 600;
                font-size: 90px;
                color:$text-1;
            }

            &:nth-child(3){
                margin: 30px 0 50px 0;
                width: 48%;
                font-size: 18px;
                color:$text-1;
                line-height: 1.6;
            }
        }

        .view-btn {
            margin-bottom: 50px;
            align-self: flex-start;
            border: 1px solid $text;
            border-radius: 5px;
            a {
                display: inline-block;
                padding: 20px 28px;
                color:$text;  
                font-size: 18px;
                text-decoration: none;
                background-color: transparent;
                transition: background-color 0.5s ease;
                font-family: 'Karla', sans-serif;
                width: 100%;
                height: 100%;
                &:hover {
                    color:$background;
                    background-color: rgba(245, 245, 245, 0.9);
                    cursor: pointer;
                }
            }

        } 

}



@media (max-width: 1080px) {

    header {
        p{

            &:nth-child(2){
                font-size: 48px;
            }

            &:nth-child(3){
                width: 80%;
            }
            
        }

        h1 span{
            &:nth-child(2) {
                font-size: 48px;
            }

        }
    }

}

@media (max-width: 450px){ 
header {

    h1 span{    
            &:nth-child(1){
                margin-top: 100px;
                font-weight: 300;
                font-size: 14px;
            }

            &:nth-child(2){
                font-size: 36px;
            }
    }

    p{

        &:nth-child(2){
            font-size: 36px;
        }

        &:nth-child(3){
            width: 100%;
            font-size: 16px;
        }
        
    }

}

}


/* END HOME */



/* PROJECT START */

#works {
    
    h2 { 
        padding-top: 10vh;
        font-weight: 600;
        font-size: 32px;
        margin-bottom: -50px;
    }

    .projects {
        grid-column: 1/ span 8;
        grid-row: 1;
        img {
            max-height: 300px;
            width: 100%;
            object-fit: cover;
            object-position: top;
            transition:object-position 0.5s ease-in; 
            z-index: 300;
            box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.15);
    
            &:hover {
                object-position:bottom;
                transition:object-position 2s ease-in, transform 0.5s ease-in;
                transform: scale(1.03);
                filter: brightness(1);
            }
        }

        &.left {
            grid-column: 6 / 13;
            grid-row: 1;
        }
    }

    .project-details{
    grid-column: 7 / 13;
    padding: 0 0 0 40px;
    grid-row: 1;
    z-index: 301;
    align-self: center;
    
        &.left{
            grid-column: 1/ 7;
            padding: 0 40px 0 0;
            }
    

        a {
            text-decoration: none;

            h3 {
                color:$text;
                margin-bottom: 10px;
                text-align: end;
                font-weight: 500;
                font-size: 24px;
                transition: color 0.3s ease;
                    &:hover {
                        color:$text-1;
                        transition: color 0.3s ease;
                }
            }
        }

        p {
            background-color: $background-1;
            padding: 15px;
            width: 100%;
            text-align: end;
            margin-bottom: 10px;
            box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.30);
        }

        &.left h3, &.left p, &.left {
            text-align: start;
        }
    }

    .programming-languages {
        color:$text-1;;
        text-align: end;
        margin-bottom: 10px;
            li {
                display: inline-block;
                margin: 0  0 0 15px;
                font-weight: 300;
                font-family: 'Karla', sans-serif;
                }
            
            &.left {
                text-align: start;
                li {
                    margin: 0 15px 0 0;
                }
            }
            

        }

    .links {
        float: right;
        a {
            margin: 0  0 0 15px;
            text-decoration: none;
        }

        &.left {
            float: left;
            a {
                margin: 0 15px 0 0;
                }    
        }

    }

}


.github-svg:hover path {
fill:$text-1;
}

.viewLink-svg:hover path {
    stroke:$text-1;
}


@media (max-width: 768px){

    .grid-content {
        margin: 30px auto;
    }

    #works 
    {
        
        h2 {
            margin-bottom: 50px;
        }
    
        .projects.right, .projects.left{
            grid-column: 1/ 13;
            opacity: 0.2;

            img:hover {
                object-position:top;
                transform: none;
                transition: none;
                }
        }
        
        .project-details.right, .project-details.left {
            grid-column: 2/ 12;
        }
    }
    
}

@media (max-width: 450px){

    .projects {
        img{
            min-height: 500px;

        }
    }

    .project-details {
        grid-column: 2/ 12;
        padding: 0;

        &.left {
            grid-column: 2/ 12;
            padding: 0;
        }

        h3, .programming-languages,
        &.left h3, .programming-languages.left {
            background: none;
            padding: 0;
        }

        p, &.left p {
            margin: 30px 0px;
            padding: 15px 0!important;
            box-shadow: none!important;
            background-color: transparent!important;
        }

    } 
    
    .programming-languages {
        li {
            margin: 0  0 0 5px;
        }
        
        &.left li {
            margin: 0 5px 0 0;
        }

    } 

}

/* PROJECT END */



/* ABOUT START */
#about {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.about-content {
    width: 55%;
    padding: 10vh 0;
        h2{
            font-weight: 600;
            font-size: 32px;
            margin-bottom: 25px;
            }

        p {
            font-weight: 300;
            font-size: 18px;
            width: 100%;
        }

        ul {
            display: flex;
            flex-direction: column;
            height: 100px;
            flex-wrap: wrap;
            padding: 0 10px;
            list-style: none;
            li{
                font-weight: 300;
                color:$text;
                font-family: 'Karla', sans-serif;
                margin: 5px;
                
                &::before {
                    content: "\0203A"; 
                    color: $text-1; 
                    font-weight: bold; 
                    display: inline-block;
                    width: 1em;
                    margin-left: -1em;
                }
            }

        }

}




    @media (max-width: 768px){
        .about-content {
            width: 100%;

            ul {
                height: 180px;
            }
        }
    }

    @media (max-width: 450px) {
        #about {
            display: grid;
            place-items: normal start;
            min-height: 100%;
        }

        .about-content {
            padding-bottom: 5vh;

            p {
                font-size: 16px;
            }
        }

    }

/* ABOUT END */

/* CONTACT START */
#contact {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.contact-content {
    width: 55%;
    padding: 10vh 0;
    text-align: center;

        h2{
        font-weight: 600;
        font-size: 48px;
        margin-bottom: 25px;
        }

        p{
            font-size: 18px;
            color: $text-1;
        }

        a {
            display: inline-block;
            text-decoration: none;
            margin: 60px 0 60px 0;
            color:$text;
            border: 1px solid $text;
            background-color: transparent;
            transition:background-color 0.5s ease;
            font-size: 18px;
            font-weight: 500;
            padding: 20px 28px;
            border-radius: 5px;
            font-family: 'Karla', sans-serif;
            
            &:hover {
                color:$background;
                background-color: rgba(245, 245, 245, 0.9);
                cursor: pointer;
                }
        }
}

@media (max-width: 768px){
    .contact-content {
        width: 100%;
    }
}

@media (max-width: 450px) {
    #contact {
        display: grid;
        place-items: normal start;
        min-height: 100%;
    }
    .contact-content {
        padding-bottom: 5vh;

        h2{
            font-size: 32px;
        }
    }
}

/* CONTACT END */


/* START FOOTER */


footer{
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: auto;
  color:$text-1;
  font-size: 14px;
}


@media screen and (max-width: 1080px) {

    .vertical-line {
        opacity: 0;
        }

    .left-links, .links-style{
        padding: 10px 0;
        a {
            margin: 0 8px;
            text-decoration: none;
            }
    }


    .right-links {
        padding: 0 0 20px 0;
            a {
                color:$text-1;
                text-decoration: none;
            }
    
        }


}

    @media screen and (min-width: 1080px) {

    .vertical-line {
        margin-top: 15px;
        border: 1px solid$text-1;
        width: 1px;
        height: 75px;
        opacity: 1;
    }

    .left-links, .links-style {
        bottom: 0%;
        left: 0%;
        padding-left: 50px;
        position: fixed;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
            a {
                margin-top: 15px;
                

                &.stroke{
                    stroke: $text-1;
                    &:hover path {
                        stroke:$text;
                        transition: stroke 0.3s ease;
                    } 
                }
                &.fill{
                    fill: $text-1;
                    &:hover path {
                        fill:$text;
                        transition: fill 0.3s ease;
                    } 
                }
        
            }
        }

    .right-links {
        bottom: 0%;
        right: 0;
        padding-right: 50px;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
            a {
                color:$text-1;
                text-decoration: none;
                writing-mode: vertical-rl;
                    &:hover {
                        color:$text;
                        transition: color 0.3s ease;
                    }
            }
    }
            
} 



/* END FOOTER */